html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn {
  color: white;
  background-color: #785439;
}

.link-card:hover .btn {
  background-color: #512200;
}

.btn-wrap {
  text-align: center;
  margin: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-family: Dosis, sans-serif;
  margin: 1rem;

}

p {
  font-size: 1rem;
  margin: 1rem;
}

.line {
  margin: 0 auto;
  border: 1px solid #9a816d;
  width: 90%;

}

dl {
  font-size: .875rem;
  padding: 1rem;
  line-height: 1.5;
  margin: 0;
}

dt {
  float: left;
  width: 46%;
}

span {
  font-size: 1.125rem;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding: .4em .75em .5em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #512200;
}
